@model BangazonSite.Models.ViewModels.OrderEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PaymentType.Id" />
            <div class="form-group">
                <label asp-for="PaymentType.Id" class="control-label">Select a Payment Type</label>
                <select asp-for="PaymentType.Name" class="form-control" asp-items="Model.PaymentTypes"></select>
                <span asp-validation-for="PaymentType.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
                @{ if (Model.PaymentType != null) { 
                    <h1>Thank you! Your order has been placed!</h1>}
                }
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
